* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.download-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 400px;
    margin: 20px;
}

.download-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

#pdfThumbnail {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #2980b9;
}

.download-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.home-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #22559c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 1001;
}

.home-button:hover {
    background-color: red;
}
